.logo{
  font-family: 'Inspiration', cursive;
  font-size: 48px;
  text-align: center;
  padding-bottom: 120px;
}

.logoLarge{
  font-family: 'Inspiration', cursive;
  font-size: 96px;
  text-align: center;
  padding-bottom: 34px;
}