.container{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.content{
    padding-left: 88px;
    padding-right: 65px;
    padding-bottom: 7px;
    padding-top: 7px;
    display: flex;
    margin: 0 auto;
    gap:72px;
    align-items: center;
    justify-content: space-between;
}

.content:nth-child(1), .content:nth-child(3){
    cursor: pointer;
}

