.wrapper{
    background-image: url(/src/assets/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    text-align: center;
    max-width: 430px;
    margin-left: 10px;
    display: block;
}

.container h1{
    margin-bottom: 120px;
}
.carousel {
    overflow-y: auto; /* Вертикальный скролл */
    height: 200px; /* Фиксированная высота для контейнера */
    margin-bottom: 100px;
}

.carouselItem {
    display: flex; /* Используем flexbox для расположения элементов */
    align-items: stretch; /* Растягиваем элементы на всю высоту контейнера */
    margin-bottom: 10px; /* Отступ между элементами */
}

.carouselImage {
    width: 200px; /* Фиксированная ширина для картинки */
    height: 200px; /* Фиксированная высота для картинки */
    background-color: #82b5e8;
    flex-shrink: 0; /* Запрещаем сжимание элемента */
}

.carouselText {
    margin: 0;
    color: #fff;
    background-color: #82b5e8;
    flex-grow: 1; /* Разрешаем элементу заполнять доступное пространство */
    display: flex; /* Используем flexbox для центрирования текста */
    align-items: center; /* Вертикальное центрирование текста */
    justify-content: center; /* Горизонтальное центрирование текста */
    text-align: center; /* Выравнивание текста по центру */
    padding: 10px; /* Отступы для текста */
    box-sizing: border-box; /* Учитываем padding и border при расчете ширины */
}